{% extends 'base.html' %}
{% block content %}
<h1>DNSBLs</h1>
<form method="post">
    <input type="text" name="dnsbl" placeholder="dnsbl.example.com" required>
    <input type="submit" value="Add">
</form>
<h2>Bulk Add</h2>
<form method="post" action="{{ url_for('bulk_dnsbls') }}">
    <textarea name="dnsbls_bulk" rows="4" cols="40" placeholder="one DNSBL per line"></textarea>
    <br>
    <input type="submit" value="Add List">
</form>
<table>
    <tr><th>DNSBL</th><th>Action</th></tr>
    {% for dnsbl in dnsbls %}
    <tr>
        <td>{{ dnsbl[1] }}</td>
        <td>
            <form method="post" action="{{ url_for('delete_dnsbl', dnsbl_id=dnsbl[0]) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
