{% extends 'base.html' %}
{% block content %}
<h1>Groups</h1>
<form method="post">
    <input type="text" name="group" placeholder="Group name" required class="telegram-input">
    <input type="submit" value="Add">
</form>
<br>
<table>
    <tr><th>Group</th><th>Actions</th></tr>
    {% for g in groups %}
    <tr>
        <td>
            <form method="post" action="{{ url_for('update_group', group_id=g[0]) }}">
                <input type="text" name="group_name" value="{{ g[1] }}" class="telegram-input">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form method="post" action="{{ url_for('delete_group', group_id=g[0]) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
