{% extends 'base.html' %}
{% block content %}
<h1>Groups</h1>
<form method="post">
    <input type="text" name="group" placeholder="Group name" required class="telegram-input">
    <input type="submit" value="Add">
</form>
<table>
    <tr><th>Group</th><th>Action</th></tr>
    {% for g in groups %}
    <tr>
        <td>{{ g[1] }}</td>
        <td>
            <form method="post" action="{{ url_for('delete_group', group_id=g[0]) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
